
* {
    box-sizing: border-box;
  }
  
  body {
    font-family: font-family: "Lucida Sans", sans-serif;
    background-image: url(../img/background/amarillo.PNG);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
  }
  
  /* Style the header */
  .header {
    background-color: #f1f1f1;
    opacity: 45%;
    margin: 10px;
    border-radius: 20px;
    padding: 30px;
    text-align: center;
    font-size: 35px;
  }
  
  /* Container for flexboxes */
  .row {
    display: -webkit-flex;
    display: flex;
  }
  
  /* Create three equal columns that sits next to each other */
  .column {
    -webkit-flex: 1;
    -ms-flex: 1;
    flex: 1;
    opacity: 75%;
    height: 500px; /* Should be removed. Only for demonstration */
    width: 300px;
    color: rgb(14, 71, 73);
    border-radius: 25px;
    border: 2px solid blue;
    padding: 20px;
    margin: 5px; 
  }

  h3,h2,h1{
      text-align: center;
      color: black;
  }

  ul {
      list-style-type: square;
  }
  a {
      text-decoration: none;
  }
  a:hover{
      background-color: grey;
      text-decoration: none;

  }
  .detalleHello{
    text-align: center;
    color: black;
}
  .detalle{
      text-align: justify;
      color: black;
  }

  .links1{
    text-align: justify;
    width: 70%;
    padding: 10px;
    color: black;
    float: left;
}




  
  /* Style the footer */
  .footer {
    background-color: #f1f1f1;
    padding: 10px;
    text-align: center;
    opacity: 45%;
    margin: 10px;
    border-radius: 20px;
  }
  .footer table{
      width: 100%;
  }

  .footer table td {
    text-align: center;
    font-size: 12px;
    }


  img {
    width: 20%;
    margin: 5px;
    height: auto;
    display:inline-table;

  }
  img:hover{
    transform: scale(0.9);
    transition: all 3s ease;
    border-radius: 100px;
}

 .social{
   position: fixed;
   right: 12px;
   top: 320px;
   z-index: 2000;
 }

 .social ul{
   list-style: none;
 }

 .social ul li a{
   display: inline-block;
   color:blanchedalmond;
   background: black;
   padding: 10px 15px;
   text-decoration: none;
   -webkit-transition: all 500ms ease;
   -o-transition: all 500ms ease;
   transition: all 500ms ease;
 }

 .social ul li .icon-facebook2 {
    background: rgb(6, 6, 248);
 }
 .social ul li .icon-twitter {
  background: #00abf0;
}
.social ul li .icon-linkedin {
  background: blue;
}
.social ul li .icon-github {
  background: black;
}
.social ul li .icon-whatsapp {
  background: green;
}
.social ul li .icon-youtube {
  background: red;
}

.social ul li a:hover{
  padding: 10px  30px;
  background: black;
}
  /* Responsive layout - makes the three columns stack on top of each other instead of next to each other */
  @media (max-width: 600px) {
    .row {
      -webkit-flex-direction: column;
      flex-direction: column;
    }
  }